extends dashboard_layout

block content
    #dash.container-fluid
      h1.float-right
        .text-right
          span#time #{time}
          br
          span#temp
            img(src=weathericon, alt='')
          |  #{temp} °
          br
      h1.display-1
        i.fa.fa-home(aria-hidden='true')
        |  Reedazawa
      br

      hr
      .row
        .col
          h3 Location
          .row
            each people in presence
              .col
                figure.figure
                  img.figure-img.img-fluid.rounded(src=people.location.map_url, alt=people.full_name)
                  figcaption.figure-caption.text-center 
                    p #{people.full_name} is at #{people.location.name}

        .col
          h3 Last 5 events
          .row
            .col

              table.table.table-striped.table-bordered.table-condensed
                thead
                  tr
                    th Date
                    th Room
                    th Description
                tbody#log
                  each log in logs
                    tr
                      td #{log.timestamp}


                      td #{log.room}
                      td #{log.action}

    |  1200 by 825px
