extends dashboard_layout

block content
    #dash.container-fluid
      h1.float-right
        .text-right
          span#time #{time}
          br
          span#temp
            img(src=weathericon, alt='')
          |  #{temp} °
          br
      h1.display-1
        i.fa.fa-home(aria-hidden='true')
        | Reedazawa


      hr
      .row
        .col
          h3 Agenda 
          
        if presence.everyone_home  
          .col
            h3 Where is everyone?
            .row
              each people in presence.people
                .col
                  figure.figure
                    img.figure-img.img-fluid.rounded(src=people.location.map_url, alt=people.full_name)
                    figcaption.figure-caption.text-center
                      - name = people.full_name.split(" ")[0]
                      if people.location.inTransit > 0 
                        - speed = Math.round(people.location.speed)
                        p #{name} is in transit (#{speed} mph)
                      else
                        if people.location.name != undefined
                          p #{name} is at #{people.location.name}
                        else
                          p #{name} is at #{people.location.address1}, #{people.location.address2}
        else
          .col
            h3 Everyone is home!
            .row
              .col
                h1.display-1.text-center <i class="fa fa-heart" aria-hidden="true"></i> <i class="fa fa-heart-o" aria-hidden="true"></i> <i class="fa fa-heart" aria-hidden="true"></i>
                    

        

      .row
        .col.text-center#quotation
          p #{quotation.quotation} &mdash; #{quotation.author}      

    |  1200 by 825px
