extends dashboard_layout

block content
    #dash.container-fluid
      h1.float-right
        .text-right
          span#time #{time}
          br
          span#temp
            img(src=weathericon, alt='')
          |  #{temp} °
          br
      h1.display-1
        i.fa.fa-home(aria-hidden='true')
        |  Reedazawa
      br

      hr
      .row
        .col
          h3 Location
          .row
            each people in presence
              .col
                figure.figure
                  img.figure-img.img-fluid.rounded(src=people.location.map_url, alt=people.full_name)
                  figcaption.figure-caption.text-center
                    - name = people.full_name.split(" ")[0]
                    if people.location.inTransit == "1"
                      - speed = Math.round(people.location.speed)
                      p #{name} is in transit (#{speed} mph)
                    else
                      if people.location.name != undefined
                        p #{name} is at #{people.location.name}
                      else
                        p #{name} is at #{people.location.address1}, #{people.location.address2}
                    

        .col
          h3 Agenda
                 

    |  1200 by 825px
